<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebviewName" value="WEBVIEW_1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <fourth driverType="iOS" serverUrl="http://127.0.0.1:4545/wd/hub/" xdt:Transform="Replace">
    <capabilities>
      <add key="deviceName" value="iPadPro" />
      <add key="platformVersion" value="11.1.1" />
      <add key="udid" value="3498f906005ded80d9cbc5b661eac0c9da8741a8" />
      <add key="platformName" value="iOS" />
      <add key="xcodeOrgId" value="DK2MYTAD7Z" />
      <add key="xcodeSigningId" value="iPhone Developer" />
      <add key="autoWebview" value="true" />
      <add key="useNewWDA" value="true" />
      <add key="bundleId" value="com.fourth.qa" />
      <add key="wdaLocalPort" value="8502"/>
    </capabilities>
  </fourth>
</configuration>