<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="Firefox" serverUrl="" driverDirectory="" xdt:Transform="Replace">
    <reporting keepScreenshot="false" takeScreenshotOnError="false" />
    <timeout driverCommands="00:03:00"/>
    <capabilities>
      <add key="--start-maximized"/>
    </capabilities>
  </fourth>
</configuration>