<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
  </appSettings>
  <fourth driverType="iOS" serverUrl="http://localhost:4550/wd/hub/" xdt:Transform="Replace">
    <capabilities>
      <add key="deviceName" value="iPad"/>
      <add key="platformVersion" value="11.2"/>
      <add key="udid" value="493c9266dd9d1067acf73d299aa8b8483f732ddb"/>
      <add key="platformName" value="iOS"/>
      <add key="xcodeOrgId" value="DK2MYTAD7Z" />
      <add key="xcodeSigningId" value="iPhone Developer" />
      <add key="autoWebview" value="true"/>
      <add key="useNewWDA" value="true"/>
      <add key="bundleId" value="com.fourth.qa"/>
    </capabilities>
  </fourth>
</configuration>