<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="RemoteDriver" serverUrl="https://tame-deer-30.localtunnel.me/wd/hub" driverDirectory="" xdt:Transform="Replace">
    <reporting keepScreenshot="false" takeScreenshotOnError="false" />
    <timeout driverCommands="00:03:00"/>
    <capabilities>
    </capabilities>
        <remoteOptions>
            <add key="browserName" value="Safari"/>
            <add key="platform" value="MAC"/>
        </remoteOptions>
  </fourth>
</configuration>