<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <fourth driverType="Chrome" serverUrl="" driverDirectory="" xdt:Transform="Replace">
    <reporting keepScreenshot="true" takeScreenshotOnError="true" />
    <timeout driverCommands="00:00:59" defaultWait="00:00:59" />
    <capabilities>
      <add key="--start-maximized" />
    </capabilities>
  </fourth>
</configuration>