<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <fourth driverType="RemoteDriver" serverUrl="http://hub-cloud.browserstack.com/wd/hub/" driverDirectory="" xdt:Transform="Replace">
        <reporting keepScreenshot="true" takeScreenshotOnError="true" />
        <timeout driverCommands="00:03:00" defaultWait="00:00:59" />
        <capabilities>
        </capabilities>
        <remoteOptions>
            <add key="browserstack.user" value="martinpetkov4" />
            <add key="browserstack.key" value="FUduuMZywDzm5bf2RsdP" />
            <add key="browserName" value="Firefox" />
            <add key="version" value="63.0" />
            <add key="os" value="WINDOWS" />
            <add key="os_version" value="10" />
            <!--<add key="platform" value="10" />
            <add key="platformName" value="WINDOWS" />-->
            <add key="resolution" value="1024x768" />
            <add key="browserstack.debug" value="true" />
            <add key="browserstack.networkLogs" value="true" />
        </remoteOptions>
    </fourth>
</configuration>