<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <fourth driverType="iOS" serverUrl="http://10.0.70.8:4545/wd/hub/" xdt:Transform="Replace">
        <capabilities>
            <add key="deviceName" value="UI-iPhone7plusGray" />
            <add key="platformVersion" value="12.4.1" />
            <add key="platformName" value="Safari" />
            <add key="udid" value="8fb8b04485d52f901017fe7a258aaef63c401b1e" />
            <add key="autoWebview" value="true" />
            <add key="useNewWDA" value="true" />
            <add key="bundleId" value="com.fourth.qa" />
            <add key="showXcodeLog" value="true" />
            <add key="xcodeOrgId" value="DK2MYTAD7Z" />
            <add key="xcodeSigningId" value="iPhone Developer" />
            <add key="startIWDP" value="true" />
            <add key="noReset" value="true" />
            <add key="locationServicesAuthorized" value="true" />
        </capabilities>
    </fourth>
</configuration>