<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebviewName" value="WEBVIEW_1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <fourth driverType="iOS" serverUrl="http://127.0.0.1:4724/wd/hub/" xdt:Transform="Replace">
    <capabilities>
      <!--http://192.168.0.24:4723/wd/hub/-->
      <add key="deviceName" value="iPhone"/>
      <add key="platformVersion" value="10.3.2"/>
      <add key="platformName" value="iOS"/>
      <add key="udid" value="cd1494890f042a8d75e4a2205f623d799094c821"/>
      <add key="xcodeOrgId" value="P8M3D97XZU" />
      <add key="xcodeSigningId" value="iPhone Developer" />
      <add key="autoWebview" value="true"/>
      <add key="useNewWDA" value="true"/>
	  <add key="browserName" value="Safari"/>
      <!--<add key="bundleId" value="com.fourth.qa"/>-->
      <add key="app" value="/Users/IStanchev/Documents/FourthHybridNew.ipa"/>
	  <add key="automationName" value="XCUITest"/>
    </capabilities>
  </fourth>
</configuration>