<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="report" type="Fourth.Automation.Framework.Reporting.Configuration.ReportSection, Fourth.Automation.Framework.Reporting" />
    <section name="fourth" type="Fourth.Automation.Framework.Configuration.FourthSection,  Fourth.Automation.Framework.Core" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="AppiumServerLogs.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="Fourth.Automation.Framework.Mobile.Appium.AppiumServer">
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </logger>
  </log4net>

  <fourth driverType="Chrome" serverUrl="" driverDirectory="">
    <reporting keepScreenshot="false" takeScreenshotOnError="false" />
    <timeout driverCommands="00:00:59" defaultWait="00:00:59" />
    <capabilities>
      <add key="--start-maximized" />
    </capabilities>
  </fourth>
  
  <appSettings>
    <add key="Engage.Url" value="https://qapartial-fourth-app.cs87.force.com" />
    <add key="Engage.User" value="sindhu.t15820@fourth.com" />
    <add key="Engage.Password" value="Mypassword_001" />
  </appSettings>
    
  <report reportName="MenuCyclesReport.json" filePath="C:/Cucumber">
  </report>

  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Fourth.Automation.Framework.Reporting" />
      <stepAssembly assembly="Fourth.Automation.Framework.Core" />
    </stepAssemblies>
  </specFlow>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
</configuration>
