{
  "QAI": 
  {
    "URL": "http://qapartial-fourth-app.cs87.force.com/",
    "URL_SF": "https://qapartial-fourth-app.cs87.force.com/login?startURL=%2Fidp%2Flogin%3Fapp%3D0sp8E000000009m",
    "User": "martin.petkov@fourth.com",
    "Password": "Mypassword_007"
  },
  "QAI_2": {
    "URL": "http://qapartial-fourth-app.cs87.force.com/",
    "URL_SF": "https://qapartial-fourth-app.cs87.force.com/login?startURL=%2Fidp%2Flogin%3Fapp%3D0sp8E000000009m",
    "User": "mobile.qateam76624@fourth.com",
    "Password": "Mypassword_002"
  },
  "EMEA":
   {
    "URL": "https://secure.fourth.com",
    "User": "",
    "Password": ""
  },
  "US": 
  {
    "URL": "https://secure.fourth.com",
    "User": "",
    "Password": ""
  },
  "UAT":
   {
    "URL": "https://uat-fourth-app.cs102.force.com",
    "User": "",
    "Password": ""
  },
}